<button {{action "toggleGraph"}}>Hide Graph</button>
<button {{action "toggleEdge"}}>Hide Edge</button>
<button {{action "toggleNode"}}>Hide Node</button>
{{#if showGraph}}
  {{#sigma-graph clickNode=onClickNode clickEdge=onClickEdge overNode=onOverNode settings=model.settings rendererSettings=model.rendererSettings}}
    {{#if showNodes}}
      {{#each model.nodes as |node|}}
        {{#graph-node id=node.id label=node.label x=node.x y=node.y size=node.size color=node.color}}{{/graph-node}}
      {{/each}}
    {{/if}}
    {{#if showEdges}}
      {{#each model.edges as |edge|}}
        {{#graph-edge id=edge.id source=edge.source target=edge.target size=edge.size type=edge.type}}{{/graph-edge}}
      {{/each}}
    {{/if}}
  {{/sigma-graph}}
{{/if}}
